.input-field {
  display: flex;

  input {
    @include input-reset;

    flex-grow: 1;
    padding: 10px 15px;

    color: #000c22;

    box-shadow: inset 0 0 0 1px #0349eb;
  }

  input::placeholder {
    color: rgba(#000c22, 0.4);
  }

  input:hover {
    box-shadow: inset 0 0 0 1px darken(#0349eb, 15%);
  }

  input:focus {
    box-shadow: inset 0 0 0 1px darken(#0349eb, 15%);
  }

  label {
    @include visually-hidden;
  }
}
