.js-accordion__content {
  overflow: hidden;
  transition: $default-transition-settings;
  transition-property: height, margin;
}

.js-accordion__content-more {
  overflow: hidden;
  transition: $default-transition-settings;
  transition-property: height, margin;
}
