.product-categories-item__list-item + .product-categories-item__list-item {
  margin-top: 10px;
}

.product-categories-item > .link {
  display: inline-block;
  margin-top: 15px;
  margin-left: 20px;
}

.product-categories-item > .list {
  margin-left: 20px;
  margin-top: 15px;
}
