.product-category-card img {
  width: 255px;
  height: 173px;

  transform: scale(1);

  transition: transform $default-transition-settings;

  object-fit: cover;
}

@include non-touch {
  .product-category-card__link:hover img,
  .product-category-card__link:focus img {
    transform: scale(1.2);
  }
}

.product-category-card__wrap-image {
  overflow: hidden;
}

.product-category-card__title {
  margin-top: 14px;
  margin-bottom: 0;
}
