<section class="product-categories-lists">
  <h2 class="visually-hidden">Товары и услуги</h2>
  <div class="product-categories-lists__item">
    <div class="product-categories-lists__wrap">
      <h3 class="subtitle"><a href="#" class="link">Электроника</a></h3>
      <div class="product-categories-item">
        <ul class="list">
          <li class="product-categories-item__list-item"><a class="link" href="#">Смартфоны</a></li>
          <li class="product-categories-item__list-item"><a class="link" href="#">Планшеты</a></li>
          <li class="product-categories-item__list-item"><a class="link" href="#">Наушники</a></li>
          <li class="product-categories-item__list-item"><a class="link" href="#">Смарт-часы</a></li>
        </ul>
        <a href="#" class="product-categories-item__link link link--color">Показать все</a>
      </div>
    </div>
    <div class="product-categories-lists__wrap">
      <h3 class="subtitle"><a href="#" class="link">Электроника</a></h3>
      <div class="product-categories-item">
        <ul class="list">
          <li class="product-categories-item__list-item"><a class="link" href="#">Смартфоны</a></li>
          <li class="product-categories-item__list-item"><a class="link" href="#">Планшеты</a></li>
          <li class="product-categories-item__list-item"><a class="link" href="#">Наушники</a></li>
          <li class="product-categories-item__list-item"><a class="link" href="#">Смарт-часы</a></li>
        </ul>
        <a href="#" class="product-categories-item__link link link--color">Показать все</a>
      </div>
    </div>
    <div class="product-categories-lists__wrap">
      <h3 class="subtitle"><a href="#" class="link">Электроника</a></h3>
    </div>
  </div>
  <div class="product-categories-lists__item">
    <div class="product-categories-lists__wrap">
      <h3 class="subtitle"><a href="#" class="link">Электроника</a></h3>
      <div class="product-categories-item">
        <ul class="list">
          <li class="product-categories-item__list-item"><a class="link" href="#">Смартфоны</a></li>
          <li class="product-categories-item__list-item"><a class="link" href="#">Планшеты</a></li>
          <li class="product-categories-item__list-item"><a class="link" href="#">Наушники</a></li>
          <li class="product-categories-item__list-item"><a class="link" href="#">Смарт-часы</a></li>
        </ul>
        <a href="#" class="product-categories-item__link link link--color">Показать все</a>
      </div>
    </div>
  </div>
</section>
