<section class="product-categories-lists">
  <h2 class="visually-hidden">Товары и услуги</h2>
  <div class="product-categories-lists__item">
    <div class="product-categories-lists__wrap">
      @@include('source/html/components/product-categories-item.html')
    </div>
    <div class="product-categories-lists__wrap">
      @@include('source/html/components/product-categories-item.html')
    </div>
    <div class="product-categories-lists__wrap">
      <h3 class="subtitle"><a href="#" class="link">Электроника</a></h3>
    </div>
  </div>
  <div class="product-categories-lists__item">
    <div class="product-categories-lists__wrap">
      @@include('source/html/components/product-categories-item.html')
    </div>
  </div>
</section>
