<div class="product-categories-item">
  <h3 class="subtitle"><a href="#" class="link">@@context.title</a></h3>
  <ul class="list">
    <li class="product-categories-list-item"><h4 class="subtitle subtitle--size-small"><a class="link" href="#">Смартфоны</a></h4></li>
    <li class="product-categories-list-item"><h4 class="subtitle subtitle--size-small"><a class="link" href="#">Планшеты</a></h4></li>
    <li class="product-categories-list-item"><h4 class="subtitle subtitle--size-small"><a class="link" href="#">Наушники</a></h4></li>
    <li class="product-categories-list-item"><h4 class="subtitle subtitle--size-small"><a class="link" href="#">Смарт-часы</a></h4></li>
  </ul>
  <a href="#" class="link link--color">Показать все</a>
</div>
