<article class="product-category-card">
  <a href="#" class="product-category-card__link link">
    <div class="product-category-card__wrap-image">
      @@include('source/html/components/picture.html', {
        context: {
          width: '255',
          height: '173',
          dir: '@@context.image.dir',
          webp: '@@context.image.webp',
          webp2x: '@@context.image.webp2x',
          image: '@@context.image.image',
          image2x: '@@context.image.image2x',
          alt: '@@context.image.alt'
        }
      })
    </div>
    <h2 class="product-category-card__title">@@if(!context.textContent){Смартфоны}@@if(context.textContent){@@context.textContent}</h2>
  </a>
</article>
