<div class="product-categories-item">
  <h3 class="subtitle"><a href="#" class="link">@@context.title</a></h3>
  <div class="product-categories-item__wrap">
    <ul class="list">
      @@if (context.type == 'electronics') {
        @@loop('source/html/components/product-categories-list-item.html', [
          { "context": {"textContent": "Смартфоны"}, },
          { "context": {"textContent": "Планшеты"}, },
          { "context": {"textContent": "Наушники"}, },
          { "context": {"textContent": "Смарт-часы"} }
        ])
      }
    </ul>
    <a href="#" class="product-categories-item__link link link--color">Показать все</a>
  </div>
</div>
