<div class="product-categories-item">
  <h3 class="subtitle"><a href="#" class="link">Электроника</a></h3>
  <ul class="list">
    <li class="product-categories-item__list-item"><a class="link" href="#">Смартфоны</a></li>
    <li class="product-categories-item__list-item"><a class="link" href="#">Планшеты</a></li>
    <li class="product-categories-item__list-item"><a class="link" href="#">Наушники</a></li>
    <li class="product-categories-item__list-item"><a class="link" href="#">Смарт-часы</a></li>
  </ul>
  <a href="#" class="product-categories-item__link link link--color">Показать все</a>
</div>
